@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

html,
body {
  height: 100vh;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 
R (0)
G (110)
B (255 */

@layer base {
  :root {
     /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: linear-gradient(to top left,#004680,#4484BA);
    --background: 220 60% 66%;
    --foreground: 220 10% 1%;

    --muted: 220 10% 92.5%;
    --muted-foreground: 220 5% 42.5%;

    --popover: 220 90% 79%;
    --popover-foreground: 220 10% 1.25%;

    --card: 220 90% 79%;
    --card-foreground: 220 10% 1.25%;

    --border: 220 15% 90%;
    --input: 220 15% 90%;

    --primary: 220 100% 25%;
    --primary-foreground: 220 2% 92.5%;

    --secondary: 220 7% 100%;
    --secondary-foreground: 220 7% 12.5%;

    --accent: 220 7% 100%;
    --accent-foreground: 220 7% 12.5%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 220 100% 25%;

    --radius: 0.5rem;
  }

  .dark {
       /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: linear-gradient(to top left,#52c234,#061700);

    --background: 114 37.699999999999996% 3.84%;
    --foreground: 114 5.8% 97.4%;

    --muted: 114 28.999999999999996% 14.399999999999999%;
    --muted-foreground: 114 5.8% 54.8%;

    --popover: 114 53.4% 6.24%;
    --popover-foreground: 114 5.8% 97.4%;

    --card: 114 53.4% 6.24%;
    --card-foreground: 114 5.8% 97.4%;

    --border: 114 28.999999999999996% 14.399999999999999%;
    --input: 114 28.999999999999996% 14.399999999999999%;

    --primary: 114 58% 48%;
    --primary-foreground: 114 5.8% 4.8%;

    --secondary: 114 28.999999999999996% 14.399999999999999%;
    --secondary-foreground: 114 5.8% 97.4%;

    --accent: 114 28.999999999999996% 14.399999999999999%;
    --accent-foreground: 114 5.8% 97.4%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 114 5.8% 97.4%;

    --ring: 114 58% 48%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.dotPattern {
  background-image: radial-gradient(rgb(35, 40, 68) 1px, transparent 1px);
  background-size: 25px 25px;
}

.use-automation-zoom-in {
  animation: automation-zoom-in 0.5s;
}

@keyframes automation-zoom-in {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 0%); /* Cor do polegar (parte arrastável) */
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: var(--background); /* Cor do fundo da barra de rolagem */
}
